/* HEADER */
header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  border-radius: 2.5em;
  display: flex;
  background-color: #F6D1D1;
  padding: 10px;
  justify-content: center;

}
header img {
  border-radius: 5em;
  border: 1px solid #ff0044;
  margin-right: 200px;
  margin-left: 200px;
  width: 100px;
  height: auto;
}
header div {
  align-content: center;
  text-align: center;
}
header a {
  font-size: 1.5em;
  color: #4B4B4B;
  text-decoration: none;
  font-weight: bold;
}
header a:hover {
  color: #B85C5C;
  text-decoration: none;
}

/* MAIN */
body {
  background-color: #FFF7F9;
}
main {
  padding-top: 130px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 {
  color: #D16B86;
  font-size: 5em;
  font-family: 'Cormorant Garamond', serif;
  text-shadow: #b6b4b4 2px 2px 4px;
}
main a:hover {
  text-decoration: none;
}
hr {
  border: none;
  height: 2px;
  background-color: #D16B86;
  width: 80%;
}
footer {
  margin-top: 20px;
  background-color: #f9a1a1;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.enlaces-logos {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20em;
}
iframe {
  width: 600px;
  height: 250px;
  border: 0;
}
.ubicacion,
.horarios {
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 70%;
  border-radius: 2em;
  text-align: center;
  border: solid 1px #D16B86;
  background-color: #FFF1F4;
}
.horarios {
  padding-bottom: 40px;
}
.mapa {
  display: flex;
  justify-content: center;
}
p {
  padding-top: 30px;
  max-width: 150px;
}
.horarios p {
  max-width: 450px;
  font-size: 1.5em;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    border-radius: 0em;
  }
  header img {
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
  }
  header a {
    font-size: 14px;
  }
  main {
    padding-top: 70px;
  }
  main h1 {
    font-size: 2.5em;
  }
  iframe {
    width: 250px;
    height: 200px;
  }
  .ubicacion,
  .horarios {
    width: 100%;
  }
  footer {
    font-size: 12px;
  }
  .enlaces-logos {
    gap: 40px;
  }
  .horarios p {
  max-width: 200px;
  font-size: 1.3em;
}
}